
.home-entire-container {
  padding: 40px;
  min-height: 100vh;
  font-family: 'Fira Code', 'Roboto Mono', monospace;
  color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  /* background-color: #1e1e1e; */
  background-image: url('../assets/chat_bg_1.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-entire-container > div {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  background: #252526;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  border: none;
}

/* 제목 스타일 */
.home-entire-container h1 {
  font-size: 2.8em;
  font-weight: 600;
  color: #ffffff;
}

.home-entire-container h2 {
  font-size: 1.6em;
  font-weight: 500;
  color: #e0e0e0;
}

/* 메시지 스타일 */
.loading-message, .instruction-message {
  color: #999999;
  font-style: normal;
}

.error-message {
  color: #ff6347;
  background-color: #3e3e3e;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #444;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-page-container {
  background: #3c2525;
  min-height: 100vh;
  color: #ff6347;
  /* border-radius: 8px; */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

  vertical-align: middle;
  text-align: center;
}

.error-retry-button {
  background-color: #ff6347;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.error-retry-button:hover {
  background-color: #e5533d;
}

/* 구분선 */
.separator {
  margin: 30px 0;
  border: none;
  border-top: 1px solid #444444; /* 어두운 구분선 */
}